.login-register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #406170;
}

.form-title {
    margin-top: 40px;
    font-size: 40px;
}

.or {
    font-size: 20px;
}

.form-container {
    background-color: #D9D5C2;
    margin: 30px;
    max-width: 500px;
    padding: 70px;
    color: #406170;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    background: #CCC8B2;
    border: none;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.form-input:focus {
    border:none;
    outline: 1px solid #979483;
}

#role-selector {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.role {
    margin: 0px 10px;
}

.password {
    margin-top: 10px;
}

.form-button, .toggle-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
    background-color: #406170;
    color: white;
    font-size: 15px;
    transition-duration: 0.4s;
}

.form-button:hover, .toggle-button:hover {
    scale: 1.1;
}