.navbar-home {
  width: 100%;
  height: 40px;
  background: #92cdc0;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  width: 100%;
  padding: 15px 15px;
}

.logout-button {
  justify-self: flex-end;
  margin-right: 15px;
  text-align: center;
  color: #406170;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 500;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition-duration: 0.4s;
  padding: 0px 5px;
}

.logout-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.tutorlink {
  margin-left: 20px;
}

.nav-links {
    display: flex;
    
}

.nav-link {
  text-align: center;
  color: #313131;
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0px 3px;
  padding: 0px 7px;
  transition-duration: 0.4s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
